/**
  * Author
  */

.row--author {
  margin-top: calc-em(40px);
}
.author {
  display: flex;
  align-items: center;
  height: 100%;
}

.author__image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding-right: calc-em(40px);
}

.author__bio {
  width: 100%;
  margin: calc-em(10px) 0;
}

.author__bio-content {
  margin: calc-em(10px) 0;
}

.author__bio i {
  color: $color__border;
  font-size: calc-em(13px);
  padding-right: calc-em(5px);
}

.author__bio-heading {}

.author__bio-more {}


