/**
  * Button
  */

.btn {
  display: inline-block;
  padding: 0.4em 0.7em;
  background: $grey;
  text-align: center;
  min-width: 115px;
  font-size: 1em;
  transition: all 0.3s ease-out;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color__primary--dark;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
  }
  &:hover, &:focus {
    color: white;
    cursor: pointer;
  }
  &:hover:before {
    transform: scaleX(1);
  }
}

.btn--large {
  padding-top: 1.2em;
  padding-bottom: 1em;
  width: 100%;
  max-width: 200px;
}

.btn--small {
  padding-top: 0.175em;
  height: 33px;
}

.btn--primary {
  background: $color__primary;
  color: white;
  transition: 0.3s;

  &:hover {
    color: white;
    background: darken($color__primary, 7%);
  }
}

.btn--outline {
  border: 1px solid $color__border;
  background: transparent;
  color: $color__border--dark;

  &:hover {
    background: darken(white, 7%);
    border-color: $color__border--dark;
    color: $color__border--dark;
  }
}

.btn-group {
  display: flex;
  li + li {
    margin-left: 1.5em;
  }
}