/**
  * Button
  */

.btn {
  display: inline-block;
  padding: 0.25em;
  background: $grey;
  text-align: center;
  letter-spacing: 0.1em;
  min-width: 150px;
  font-size: 1em;

  &:hover, &:focus, &:visited {
    color: white;
  }
}

.btn--large {
  padding-top: 1.2em;
  padding-bottom: 1em;
  width: 100%;
  max-width: 200px;
}

.btn--small {
  padding-top: 0.175em;
  padding-bottom: 0.175em;
  height: 32px;
}

.btn--primary {
  background: $color__primary;
  color: white;
  transition: 0.3s;

  &:hover,
  &:visited:hover {
    color: white;
    background: darken($color__primary, 7%);
    transition: 0.3s;
    cursor: pointer;
  }
}

.btn--outline {
  border: 1px solid $color__secondary;
  background: transparent;
  color: $color__secondary;
  transition: 0.3s;

  &:visited { color: $color__secondary; }

  &:hover {
    background: white;
    transition: 0.2s;
  }
}

.btn-group {
  display: flex;
  a + a {
    margin-left: 1.5em;
  }
}