/**
  * Button
  */

.btn {
  display: inline-block;
  padding: 0.4em;
  background: $grey;
  text-align: center;
  min-width: 150px;
  font-size: 1em;
  transition: all 0.3s ease-out;

  &:hover, &:focus, &:visited {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
}

.btn--large {
  padding-top: 1.2em;
  padding-bottom: 1em;
  width: 100%;
  max-width: 200px;
}

.btn--small {
  padding-top: 0.175em;
  height: 33px;
}

.btn--primary {
  background: $color__primary;
  color: white;
  transition: 0.3s;

  &:hover,
  &:visited:hover {
    color: white;
    background: darken($color__primary, 7%);
  }
}

.btn--outline {
  border: 1px solid $color__border;
  background: transparent;
  color: $color__border;

  &:visited { color: $color__border; }

  &:hover {
    background: darken(white, 7%);
    border-color: $color__border--dark;
    color: $color__border--dark;
  }
}

.btn-group {
  display: flex;
  li + li {
    margin-left: 1.5em;
  }
}