/**
  * Card
  */

.cards {
  display: flex;
	flex-wrap: wrap;
}

.card {
  position: relative;
  //flex: 1 0 calc(25% - 30px);
  //margin: 15px;
  height: 275px;
  padding: 15px;
  text-align: left;
  a { //clickable
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: calc-em(15px);
    color: white;
    background-size: cover !important;
    transition: all 0.3s ease-out;
  }
}

.card__type {
  text-transform: capitalize;
  padding-bottom: calc-em(5px);
}

.card__title {

}

.card__more {
  display: inline-block;
  position: absolute;
  right: calc-em(15px);
  bottom: calc-em(15px);
  text-transform: uppercase;
}

  