/**
  * Hero
  */

$header__height: 80px;

.hero {
  position: relative;
}

.hero__bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &--is-full-height {
    height: calc(88vh - #{$header__height});
  }
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: calc-em(80px);
}

.hero__text {
  color: white;
}

.hero__heading {
  padding-bottom: calc-em(5px);
  @media (min-width: $tablet) {
    max-width: 42%;
  }
}

.hero__subheading {

}

.hero__button {
  &--end {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
  }
}


/**
  * Page Hero
  */

.hero--page {
  color: $color__primary;
}
