/**
  * Hero
  */

$header__height: 80px;

.hero {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  @media (min-width: $tablet) {
    height: calc(88vh - #{$header__height});
  }
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__inner {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 5vw 0;
  @media (min-width: $tablet) {
    padding-bottom: calc-em(80px);
  }
}

.hero__text {
  color: white;
}

.hero__heading {
  padding-bottom: calc-em(5px);
  @media (min-width: $tablet) {
    max-width: 42%;
  }
}

.hero__subheading {}

.hero__button {
  &--end {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

/**
 * About Page Hero
 */
.hero--about {
  width: 100%;
  height: auto;
  background-position: center center;
  background-size: cover;
  @media (min-width: $tablet) {
    height: calc(100vh - #{$header__height});
  }
}

.hero--about .hero__inner {
  align-items: flex-start;
}

.hero--about .hero__text {
  padding-top: calc-em(60px);
  height: calc(100vh - #{$header__height});
  position: relative;
}

.hero--about .hero__button {
  position: absolute;
  bottom: calc-em(80px);
}

// the abs. positioned side img
.hero__side-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -20%;
  right: 0;
  width: 500px;
  width: 45vw;
  height: 75%;
  height: 75vh;
  z-index: 9;
}


/**
  * Page Hero
  */

.hero--page {
  color: $color__primary;
}
