/**
  * Hero
  */

$header__height: 80px;

.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(88vh - #{$header__height});
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .single-resource & {
    height: 300px;
    background-image: url('../img/hero-resource-default.jpg');
  }
}

.hero__inner {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding-top: calc-em(40px);
  padding-bottom: calc-em(40px);
  @media (min-width: $tablet) {
    position: relative;
    padding: 0;
    padding-bottom: calc-em(80px);
  }
}

.hero__text {
  color: white;
}

.hero__heading {
  @media (min-width: $tablet) {
    max-width: 42%;
    padding-bottom: calc-em(5px);
  }
}

.hero__subheading {}

.hero__button {
  &--end {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

/**
 * About Page Hero
 */
.hero--about {
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - #{$header__height});
}

.hero--about .hero__inner {
  align-items: flex-start;
}

.hero--about .hero__text {
  padding-top: calc-em(60px);
  height: calc(100vh - #{$header__height});
  position: relative;
}

.hero--about .hero__button {
  position: absolute;
  bottom: calc-em(80px);
}

// the abs. positioned side img
.hero__side-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -55%;
  right: 0;
  width: 500px;
  width: 24vw;
  height: 500px;
  z-index: 9;
}


/**
  * Page Hero
  */

.hero--page {
  color: $color__primary;
}
