/**
  * Footer
  */

.footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  &--secondary {
    background-color: $color__secondary;
    color: white;
  }
}

.footer__top {

}

.footer__bottom {
  display: flex;
}

.footer__bottom-copy {
  @media (min-width: $tablet) {
    padding-right: calc-em(75px);
  }
}

.footer__bottom-menu {
  ul {
    display: flex;
    padding: 0;
    list-style-type: none;
  }
  li a {
    color: white;
    padding: 0 calc-em(25px);
    &:first-child {
      padding-left: 0;
    }
  }
}

.footer__info {
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

.footer__images {
  display: flex;
  justify-content:  center;
  align-items:  center;
  margin-bottom: 1.5em;
  width: 100%;
}

