/**
  * Footer
  */

.footer {

  &--secondary {
    background-color: $color__secondary;
    color: white;
  }
}

.footer__top {}

.footer__top-menu {
  li a {
    display: inline-block;
    color: white;
    margin-bottom: 0.75em;
  }
}

.footer__top-title {
  color: $color__primary;
  margin-bottom: 1em;
}

.footer__bottom {
  display: block;
  padding-top: calc-em(25px);
  @media (min-width: $tablet) {
    display: flex;
    padding-top: calc-em(100px);
  }
}

.footer__bottom-copy {
  padding-right: calc-em(25px);
  @media (min-width: $tablet) {
    padding-right: calc-em(100px);
  }
}

.footer__bottom-menu {
  ul {
    display: flex;
    padding: 0;
    list-style-type: none;
  }
  li a {
    color: white;
    padding: 0 calc-em(25px);
    &:first-child {
      padding-left: 0;
    }
  }
}

.footer__info {
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

.footer__images {
  display: flex;
  justify-content:  center;
  align-items:  center;
  margin-bottom: 1.5em;
  width: 100%;
}

