/**
  * Header
  */

.header {
  font-size: 1em;
}

.header__inner {
  padding: 1.5em 0 1em;
  background: white;

  @media (max-width: $tablet) {
    padding-bottom: 1.5em;
  }
}

// override header btn classes inserted within wp menu
.header .btn--primary {
  a {
    color: white;
  }
}

.header .btn--outline {
  &:before {
    background: $color__border--dark;
  }
}

.logo {
  max-width: 140px;
  margin-top: calc-em(-8px);
}
