/**
  * Section
  */

.section {
  position: relative;
  padding: 2em 0;
  
  //template specific
  &--benefits {
    padding-bottom: 5em;
  }
  &--solutions-list {
    padding-bottom: 6em;
  }
  &--cta-home {
    padding-top: 6em;
    padding-bottom: 4em;
  }

  &--sm {
    padding: 1em 0;
  }

  &--md {
    padding: 4em 0;
  }

  &--pad {
    padding: 6em 0 3em;
  }

  &--pad-md-even {
    padding: 6em 0;
  }

  &--pad-top-xl {
    @media (min-width: $tablet) {
      padding-top: 5em;
    }
  }

  &--no-pad {
    padding: 0;
  }

  &--primary {
    background-color: $color__primary;
  }
  &--secondary {
    background-color: $color__secondary;
    color: white;
  }
  &--accent {
    background-color: $color__accent;
  }
  &--tertiary {
    background-color: $color__tertiary;
    color: white;
  }
  &--white {
    background-color: white;
    color: $color__text;
  }

  &--image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

}

.section__img {
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}