/**
  * MIXINS
  */

// Make a font fluidly responsive by using calc and viewport units.
// USAGE: @include fluid-type(min-font-size, max-font-size, lower-range, upper-range);
// USAGE: @include fluid-type(18px, 24px);
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 1200px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}



/**
  * Convert pixels to ems
  */
// Strip units from values
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
// Calculate ems from pixels
// Usage: margin-top: calc-em(60px);
@function calc-em($px, $base: 16) {
  $px: strip-unit($px);
  $base: strip-unit($base);
  @if $px == 1 {
    @return 1px;
  }
  @return ($px / $base) * 1em;
}
