/**
  * Typography
  */

a {
  color: $grey;
  cursor: pointer;
  text-decoration: none;

  strong { color: currentColor; }

  &:hover, &:focus {
    color: lighten($grey, 10%);
  }
}

p, .p {
  margin-bottom: 1.4em;
  text-transform: none;
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 { 
  line-height: 1.1;
  font-weight: bold;
}

h1, .h1 { 
  font-size: 3em; 
  margin-bottom: 0.9em;
  text-transform: uppercase;
}

h2,.h2 {
  font-size: 2.5em;
  margin-bottom: 0.8em;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 1.5em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
}

address {
  line-height: 1.5;
  font-style: normal;
}
