/*
** About
*/

.section--about-values h2 {
  @media (max-width: $tablet) {
    text-align: center;
    width: 100%;
  }
}

.row--stats {
  padding-top: 3em;
}

.row--text-blocks {
  padding-top: 5em;
}

.row--icon-blocks {
  padding-top: 3em;
  align-items: center;
}

.stat {
  height: auto;
  background: $color__border;
  margin-bottom: calc-em(15px);
  padding: calc-em(30px) calc-em(15px);
  @media (min-width: $tablet) {
    height: 100%;//equal height content
    margin: 0;
  }
}

.stat__number {
  color: $color__secondary;
}

.icon-block {
  position: relative;
  margin-bottom: calc-em(60px);
}

.icon-block img {
  max-width: 120px;
  max-height: 75px;
  margin-bottom: 1em;
}

.icon-block__title {
  height: 100%;
}