// HOMEPAGE

.testimonial.row {
  align-items: center;
}

.testimonial__title {
  font-size: 1.4em;
  color: color('white');
  line-height: 1;
}

.testimonial__name {
  @extend h2;
  margin-bottom: 0.4em;
}

.testimonial__description {
  p {
    line-height: 1.7;
  }
}

.testimonial__title {
  text-transform: uppercase;
  font-weight: bold;
  color: $color__primary;
}

.testimonial__position { 
  margin-top: calc-em(10px);
  color: lighten($color__primary,20%);
  font-weight: 300; 
}

.testimonial__button {
  margin-top: calc-em(100px);
}

// Audience section

// the carousel within this
.carousel--audience-nav {
  margin-bottom: 1em;
  .slick-slide {
    width: auto!important;
    cursor: pointer;
  }
  .slick-slide.slick-current li {
    background: $color__primary;
    color: white;
    width: auto!important;
    appearance: none;
  }
}
.carousel__nav-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 calc-em(8px);
  background: transparent;
  border: 2px solid $color__primary;
  color: $color__primary;
  padding: calc-em(2px) calc-em(10px);
  &:first-child {
    margin-left: 0;
  }
}





// Unified section
.unified__item {
  margin-top: calc-em(20px);
  margin-bottom: calc-em(20px);
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.unified__icon {
  color: $color__primary;
}

.unified__title {
  color: $color__secondary;
  @media (min-width: $tablet) {
    margin-left: calc-em(10px);
    text-align: left;
  }
}

.unified__button {
  margin-top: calc-em(20px);
}