/*
** Resources
*/

.load-more {
  margin-top: calc-em(15px);
}
// resources main filters
.filters {
  margin-bottom: calc-em(50px);
}

// Custom Select 
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-trigger {
  position: relative;
  display: block;
  min-width: 250px;
  padding: 0 22px;
  text-align: left;
  font-size: 1em;
  color: #fff;
  line-height: 50px;
  background: $color__primary;
  border-radius: 2px;
  cursor: pointer;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  position: absolute;
  display: block;
  text-align: left;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 5px 0;
  border: 1px solid $color__border;
  border-radius: 2px;
  box-sizing: border-box;
  background: #fff;
  z-index: 999;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

/*.custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid $color__border;
      border-left: 1px solid $color__border;
      background: #fff;
      transform: rotate(45deg);
      transition: all 0.2s ease-in-out;
    }*/

.custom-option {
  position: relative;
  display: block;
  padding: 9px 22px;
  font-size: 1em;
  color: $color__text;
  line-height: 1.1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.custom-option:hover,
.custom-option.selection {
  background: $color__primary;
  color: white;
}