/*
** Services
*/

.icon {
  position: relative;
}

.icon__image img {
  width: 150px;
}

.icon__image--centered {
  margin: 0 auto;
}


/* 
 ** Service Item
 */
.service-item {
  position: relative;
  min-height: 440px;
}

.service-item--is-padded {
  margin-bottom: 3em;
}

.service-item__bg {
 width: 0;
  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    width: calc(50% - 3em); //minus item's content padding
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.service-item--reverse .service-item__bg {
  right: initial;
  left: 0;
}

.service-item__content {
  @media (min-width: $tablet) {
    padding: 3em;
  }
}

.service-item__title {
  padding-top: calc-em(20px);
  color: $color__primary;
}

.service-item__img--mobile {
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: $tablet) {
   display: none;
  }
}