/*
** SINGLE
*/

// Single content default (entry content)
.single__content {
  line-height: 1.8;
}

.single__content ul {
  list-style-type: disc;
  padding-left: calc-em(20);
  margin: calc-em(20) 0;
}

.single__content p {
  margin: calc-em(20) 0;
}

.entry-content a {
  position: relative;
  position: relative;
  overflow: hidden;
  color: $color__text;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $color__text;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    left: 0;
    right: 0;
  }
}

// Single - infographic
.infographic__img {
  width: 100%;
  @media (min-width: $tablet) {
    display: block;
    width: 600px;
    height: auto;
    margin: 0 auto;
  }
}