/*
** SINGLE
*/

// Single content default (entry content)
.single__content {
  line-height: 1.8;
}

.single__content ul {
  list-style-type: disc;
  padding-left: calc-em(20);
  margin: calc-em(20) 0;
}

.single__content p {
  margin: calc-em(20) 0;
}

.entry-content a {
  position: relative;
  position: relative;
  overflow: hidden;
  color: $color__text;
  text-decoration: underline;
}

// Single - infographic
.infographic__img {
  width: 100%;
  @media (min-width: $tablet) {
    display: block;
    width: 600px;
    height: auto;
    margin: 0 auto;
  }
}