/*
** Solutions
*/

.solutions {
  position: relative;
  overflow: hidden;
}

.solutions__line {
  position: absolute;
  top: calc-em(160px);
  width: 100%;
  height: auto;
  svg {
    display: block;
    margin: 0 auto;
    max-width: 59%;
  }
  path {
    fill: $color__border;
    stroke: transparent;
    stroke-width: 1px;
   // stroke-dasharray: 90;
     visibility: hidden;
    &.active {
      //animation: draw 5s reverse linear;
      visibility: visible;
    }
  }
}

@keyframes draw {
  from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: 90;}
}

.solution__item {
  margin-top: calc-em(25px);
  margin-bottom: calc-em(25px);
  text-align: center;
  @media (min-width: $tablet) {
    text-align: right;
    margin-top: calc-em(90px);
    margin-bottom: calc-em(90px);
  }
  &.reverse {
    text-align: center;
    @media (min-width: $tablet) {
      text-align: left;
    }
  }
}

.solution__title {
  color: $color__primary;
  text-transform: uppercase;
  margin-top: 0.25em;
}

.solution__icon-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $color__secondary;
  width: 125px;
  height: 125px;
  margin: calc-em(25px) auto;
  border-radius: 100%;
  @media (min-width: $tablet) {
    width: 170px;
    height: 170px;
    margin: auto;
  }
}

.solution__icon {
  color: $color__primary;
  width: 50%;
}

// solution btn icon transition
.solution__btn {
  display: inline-block;
  position: relative;
  color: $color__text;
  i {
    color: $color__primary;
    display: inline-block;
    vertical-align: middle;
    transform: translateX(0);
    transition: transform 0.2s ease-out;
  }
  &:hover {
    color: $color__text--dark;
    i {
      color: $color__text;
      transform: translateX(2px);
      transition: transform 0.2s ease-out;
    }
  }
}

// solution btn underline transition
.solution__btn {
  transform: perspective(1px) translateZ(0);
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $color__text;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    left: 0;
    right: 0;
  }
}

/*
** Solutions-Single
*/

.single-solution .solution__item {
  align-items: center;
  margin-top: calc-em(50px);
  margin-bottom: calc-em(50px);
  @media (min-width: $tablet) {
    text-align: left;
  }
}
.single-solution .solution__item.reverse .solution__wrap {
  @media (min-width: $tablet) {
    text-align: right;
  }
}
.single-solution .solution__img-wrap--0 {
  @media (min-width: $tablet) {
    margin-top: calc-em(-150px);
  }
}