/*
* Solutions
*/

.solutions {
  position: relative;
  overflow: hidden;
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-size: 60%;
}

.solutions__line {
  position: absolute;
  top: calc-em(150px);
  width: 100%;
  height: auto;
  svg {
    display: block;
    margin: 0 auto;
    max-width: 61%;
  }
  path {
    fill: $color__border;
    stroke: transparent;
    stroke-width: 1px;
    stroke-dasharray: 1009;
    visibility: hidden;
    &.active {
      animation: draw 3s reverse linear;
      visibility: visible;
    }
  }
}


@keyframes draw {
  from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: 1009;}
}

.solution__item {
  margin-top: calc-em(90px);
  margin-bottom: calc-em(90px);
  text-align: right;
  &.reverse {
    text-align: left;
  }
}

.solution__title {
  color: $color__primary;
  text-transform: uppercase;
  margin-top: 0.25em;
}

.solution__icon-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $color__secondary;
  width: 175px;
  height: 175px;
  margin: auto;
  border-radius: 100%;
}

.solution__icon {
  color: $color__primary;
  width: 52%;
}

.solution__btn {
  display: block;
  margin-top: 0.25em;
  color: $color__text;
  i {
    color: $color__primary;
    transform: translateX(0);
    transition: transform 0.2s ease-out;
  }
  &:hover {
    color: $color__text;
    i {
      color: $color__text;
      transform: translateX(2px);
      transition: transform 0.2s ease-out;
    }
  }
}
